<form class="login-form" action="/login" method="post">
  <div class="welcome-back-section">
    <h2>Welcome back!</h2>
    <p class="gray-color">We're so excited to see you again!</p>
  </div>
  <div class="form-group">
    <label class="auth-label" for="exampleInputEmail1"
      >EMAIL OR PHONE NUMBER <span class="required-star">*</span></label
    >
    <input
      type="email"
      class="form-control"
      id="emailInput"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label class="auth-label" for="exampleInputEmail1"
      >PASSWORD <span class="required-star">*</span></label
    >
    <input type="password" class="form-control" id="passwordInput" />
    <small class="link"><a>Forgot your password?</a></small>
  </div>
  <button type="submit" id="submitBtn" class="btn btn-primary login-btn">
    Log In
  </button>
  <small class="register-text"
    >Need an account?<span class="link">
      <a href="/register">Register</a></span
    ></small
  >
</form>
