<form class="register-form">
  <div class="welcome-back-section">
    <h3>Create an account</h3>
  </div>
  <div class="form-group">
    <label class="auth-label" for="exampleInputEmail1">EMAIL</label>
    <input
      type="email"
      class="form-control"
      id="emailInput"
      aria-describedby="emailHelp"
    />
  </div>
  <div class="form-group">
    <label class="auth-label" for="exampleInputEmail1">USERNAME </label>
    <input type="text" class="form-control" id="userNameInput" />
  </div>
  <div class="form-group">
    <label class="auth-label" for="exampleInputEmail1">PASSWORD </label>
    <input type="password" class="form-control" id="passwordInput" />
  </div>
  <div class="form-group">
    <label class="auth-label" for="exampleInputEmail1">DATE OF BIRTH </label>
    <div class="date-of-birth">
      <select class="" id="monthSelect">
        <option selected disabled>Month</option>
        <option value="1">January</option>
        <option value="2">February</option>
        <option value="3">March</option>
        <option value="4">April</option>
        <option value="5">May</option>
        <option value="6">June</option>
        <option value="7">July</option>
        <option value="8">August</option>
        <option value="9">September</option>
        <option value="10">October</option>
        <option value="11">November</option>
        <option value="12">December</option>
      </select>

      <select class="form-select" id="daySelect">
        <option selected disabled>Day</option>
        <!-- Generate options for days 1 to 31 -->
        <% for (let i = 1; i <= 31; i++) { %>
        <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>

      <select class="form-select" id="yearSelect">
        <option selected disabled>Year</option>
        <!-- Generate options for years from 1900 to the current year -->
        <% const currentYear = new Date().getFullYear(); %> <% for (let i =
        currentYear; i >= 1900; i--) { %>
        <option value="<%= i %>"><%= i %></option>
        <% } %>
      </select>
    </div>
  </div>
  <button type="submit" id="submitBtn" class="btn btn-primary continue-btn">
    Continue
  </button>
  <small class="link"><a href="/login"> Already have an account?</a></small>
</form>
