body {
  height: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #bdc1c2;
}
#container {
  height: 1100px;
  width: 830px;
  margin-bottom: 10px;
  border-width: 1px;
  border-color: black;
  border-style: solid;
  box-shadow: -35px -21px 30px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  border-radius: 5px;
  overflow: hidden;
  background-color: white;
}

#left-side {
  height: 100%;
  width: 30%;
  background-color: #0180a1;
  float: left;
}

#right-side {
  height: 100%;
  width: 67%;
  background-color: white;
  float: right;
}

.img-container {
  width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
}
#pfp {
  width: 80%;
}

.section-container {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: column;
}

.info-sections {
  width: 90%;
  /* background-color: red; */
  margin-top: 30px;
  margin-left: 22px;
  /* background-color: lightblue; */
  height: 300px;
  display: flex;
  flex-direction: row-reverse;
}

.info-block {
  width: 100%;
  /* background-color: red; */
}

#about-me {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
  margin-bottom: 3px;
  display: flex;
  align-items: center;
}

.heading {
  display: flex;
  width: 100%;
  height: 20px;
  flex-direction: row-reverse;
  /* background-color: yellow; */
}

.heading-right {
  width: 90%;
  /* background-color: black; */
}

.heading-line {
  width: 100%;
  background-color: #2b9fc0;
  height: 2px;
}

.bold-line {
  width: 15%;
  background-color: white;
  height: 100%;
}

.plus-sign {
  width: 10%;
  /* background-color: blue; */
  color: white;
  font-size: 22px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: red; */
  margin-top: 6px;
}

.info-details {
  /* background-color: red; */
  width: 85%;
  margin-left: 20px;
}

.about-me-text {
  color: white;
  font-size: 13px;
  font-weight: lighter;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  white-space: normal;
}

#contact {
  margin-top: 50px;
}

.name-role {
  margin-top: 60px;
  margin-left: 10px;
}

#name {
  margin-bottom: 0px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 32px;
  font-weight: 500;
  color: #0180a1;
}
#role {
  margin-top: 0;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: 500;
}
.blue-underline {
  width: 60px;
  height: 4px;
  background-color: #0180a1;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  margin-left: 1px;
}

.right-section-header {
  /* background-color: blue; */
  display: flex;
  margin-left: 0;
}

.right-section {
  margin-top: 20px;
  /* background-color: red; */
}
.right-section-header-text {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: 20px;
  font-weight: 500;
}

.right-side {
  color: #0180a1;
  /* background-color: yellow; */
  margin-top: 0;
  font-size: 25px;
  width: 25px;
}

.xyz {
  color: #0180a1;
  /* background-color: yellow; */
  margin-top: 0;
  font-size: 25px;
  width: 25px;
}

.right-section-header-line {
  width: 85%;
  height: 3px;
  background-color: #c9c9c9;
  margin-left: 25px;
}

.right-section-header-bold-line {
  width: 33px;
  height: 100%;
  background-color: #797979;
}

.right-section-content-container {
  /* background-color: red; */
  width: 100%;
  border-left-style: solid;
  border-left-width: 2px;
  border-left-color: #cbd6d6;
  display: flex;
  flex-direction: column;
  margin-left: 11px;
}

.content {
  display: flex;
  margin-top: 20px;
  width: 85%;
}

.bullet-point-circle {
  width: 10px;
  height: 10px;
  border-radius: 100px;
  border-style: solid;
  margin-left: -6px;
  border-width: 1px;
  border-color: #2b9fc0;
  background-color: white;
  margin-top: 5px;
}

.duration {
  margin-left: 10px;
  font-weight: 500;
  width: 100px;
}

.role {
  width: 70%;
  margin-left: 20px;
  justify-self: flex-end;
  align-self: flex-end;
}

.role-name {
  font-size: 16px;
  font-weight: 500;
  color: #2b9fc0;
}

.role-company {
  font-weight: 500;
  font-size: 14px;
}

.role-description {
  font-size: 13px;
  margin-top: 5px;
  text-align: justify;
  word-spacing: -0.1em;
}

.custom-font {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.skills {
  flex-direction: row;
}

.skills-heading {
  font-weight: 500;
  width: 200px;
}

.skills-container {
  margin-left: 10px;
}

.skills {
  margin-top: 10px;
}
.skill {
  display: flex;
  align-items: center;
}

.skill-name {
  font-size: 13px;
  font-weight: 500;
  width: 100px;
}
.skill-percentage {
  margin-left: 10px;
  margin-top: 2px;
  background-color: #bababa;
  width: 100px;
  height: 5px;
  border-radius: 10px;
}

.percentage-color {
  background-color: #2b9fc0;
  height: 100%;
  border-radius: 20px;
}

@media only screen and (max-width: 830px) {
  body {
    display: block;
  }
}
