#container {
  margin-top: 100px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

form {
  width: 30%;
  height: 500px;
}

.error {
  border-style: solid;
  border-width: 1px;
  border-color: red;
}

.success {
  border-style: solid;
  border-width: 1px;
  border-color: green;
}
